:root {
    --darkpurple: #19161ce8;
    --fadedpurple: hsla(-80 40% 15% / 0.2);
    --bg-color: #fafaf9;
    --main-text-font: "League Spartan";
    --header-font: "Barlow";
    --h1-size-1: 2.2em;
    --h1-size-2: 2.5em;
    --h2-size-1: 1.5em;
    --h2-size-2: 2em;
    --mana-border: linear-gradient(to right, var(--bg-color), var(--bg-color));
}
.league-spartan {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
.barlow-semibold {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-style: normal;
}

/* ------- */
/* GENERAL -------------------------------------------------------- */
/* ------- */

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
}
header {
    padding: 2.5vh 8vw;
    background-image: url('src/halfcleankaleidaonblack.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: var(--darkpurple);
    display: flex;
    align-items: center;
    gap: 4vw;
}

button {
    position: relative;
    translate: -50% 0%;
    left: 75%;
    margin: 20px 0 0 5px;
    cursor: pointer;
    height: 50%;
    padding: 10px 20px;
    background: linear-gradient(120deg, #FFFFFF, #E3FBFF, #E6D9EB, #FFE3E3, #F3FFEA);
    border: solid var(--fadedpurple) 2px;
    border-radius: 15px;
    font-family: var(--header-font);
    font-size: 1em;
    text-wrap: nowrap;
    filter: drop-shadow(0 3px 3px hsla(-80 40% 15% / 0.4 ));
    scale: 1;
    transition: scale 0.3s ease;
}
button:hover {
    animation: gradient-shift 0.2s;
    scale: 1.1;
}
@keyframes gradient-shift {
    0% { background: linear-gradient(120deg, #FFFFFF, #E3FBFF, #E6D9EB, #FFE3E3, #F3FFEA); }
    20% { background: linear-gradient(120deg, #E3FBFF, #E6D9EB, #FFE3E3, #F3FFEA, #FFFFFF); }
    40% { background: linear-gradient(120deg, #E6D9EB, #FFE3E3, #F3FFEA, #FFFFFF, #E3FBFF); }
    60% { background: linear-gradient(120deg, #FFE3E3, #F3FFEA, #FFFFFF, #E3FBFF, #E6D9EB); }
    80% { background: linear-gradient(120deg, #F3FFEA, #FFFFFF, #E3FBFF, #E6D9EB, #FFE3E3); }
    100% { background: linear-gradient(120deg, #FFFFFF, #E3FBFF, #E6D9EB, #FFE3E3, #F3FFEA); }
}

h1 {
    color: white;
    font-family: var(--header-font);
    font-size: var(--h1-size-2);
    margin: 0;
    text-wrap: nowrap;
}
h2 {
    font-family: var(--header-font);
    font-size: var(--h2-size-2);
    margin: 0;
    padding: 5px;
}
h3 {
    font-family: var(--header-font);
    margin: 0;
    padding: 5px;
    color: white;
}
h6 {
    margin: 10px 0;
    font-family: var(--header-font);
    font-size: 0.8em;
}
#filters {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
#all-filters {
    display: flex;
    flex-direction: row;
}
label.filter-label {
    font-family: var(--main-text-font);
    color: var(--bg-color);
    margin-right: 10px;
}
p, a, span {
    font-family: "League Spartan";
    margin: 0;
    text-decoration: none;
    color: black;
}
a {
    color: darkblue;
}
input#query { /* temporary element not meant to be used by user */
    position: absolute;
    top: 90px;
    border: none;
    background-color: transparent;
    cursor: default;
    :focus-visible {
        outline: none;
    }
}

/* --------- */
/* LEFT HALF -------------------------------------------------------- */
/* --------- */

#main-container {
    padding: 4vh 4vw;
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    gap: 3%;
}

#random-card-container {
    display: flex;
    border-radius: clamp(5px, 17px, 25px);
    overflow: hidden;
    filter: drop-shadow(0 10px 8px hsla(-80 40% 15% / 0.5 ));
    width: fit-content;
    height: fit-content;
    border-radius: 16px;
}

#image {
    object-fit: contain;
    height: 100%;
    width: 100%;
    cursor: pointer;
    max-height: 70vh;
    aspect-ratio: 28 / 39;
}

#divider {
    height: 70vh;
    width: 2px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

/* ---------- */
/* RIGHT HALF -------------------------------------------------------- */
/* ---------- */

#card-attributes-container {
    border-radius: 15px;
    max-height: 70vh;
    height: 100%;
    min-width: 35%;
    max-width: 50%;
    flex-grow: 1;
}

#card-name-div {                        /* title background styling */
    position: relative;
    width: fit-content;
    background: var(--bg-color);
    border-radius: 8px;
    margin: 7px 0 20px 10px;
    padding: 1px 3px; /* var 3 5 */
    display: flex;
    justify-content: center;
    align-items: center;
}
#card-name-div::after {                 /* mana gradient "border" on title */
    content: '';
    position: absolute;
    border-radius: 11px;
    background-image: var(--mana-border);
    z-index: -1;
    inset: -4px; /* var -3 */
    filter: drop-shadow(0 2px 2px #19161c3d);
}
.colorless {
    border: 3px gray dashed;
}

.card-attributes-inner-container {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}

.card-attributes-inner-container > p {  /* mana cost styling */
    margin: 0 0 10px 0;
}

div#type-div {                          /* typeline styling */
    display: flex;
    flex-direction: row;
    gap: 5px;
}

div#card-text-container {               /* styling card text area */
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px -10px;
    padding: 10px;
    border: 2px rgba(0, 0, 0, 0.5) solid;
    border-radius: 15px;
    max-width: 35vw;
    background-image: var(--mana-border);
    background-color: #fafaf908;
}
div.text-line-div {                     /* individual lines from card text area */
    /*
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0 5px;
    */
    margin: 3px;
}
#flip-button {
    width: fit-content;
    margin: 10px -10px;
}


/* ---------- */
/* media queries -------------------------------------------------------- */
/* ---------- */
/*
@media screen and (min-width: 1201px) {
    h1 {
        font-size: var(--h1-size-2);
    }
    h2 {
        font-size: var(--h2-size-2);
    }
}
*/
/*
@media screen and (max-width: 1310px) {
    h1 {
        font-size: var(--h1-size-1);
    }
    h2 {
        font-size: var(--h2-size-1);
    }
}
*/


@media (max-width: 817px) {
    h1 {
        margin-bottom: 5px;
    }
    #all-filters {
        flex-direction: column;
    }
    #filters {
        flex-direction: row;
        align-items: center;
    }
}

@media screen and (max-width: 1040px) {
    h1 {
        font-size: var(--h1-size-1);
    }
    h2 {
        font-size: var(--h2-size-1);
    }
    header {
        flex-wrap: wrap;
        gap: 0 4vw;
    }
}